<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Calculate</title>
</head>
<body>
<div class="container">
    <h2>Calculating shipping!</h2>
    <form class="form-inline"
          action="#"
          th:action="@{/api/shipping/calculated/{id}(id=${shipping.id})}"
          th:object="${shipping}"
          method="post">
        <div class="form-group">
            <label for="time">Time:</label>
            <input name="travelTime"
                   type="text"
                   id="time"
                   placeholder="Enter shipping time"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="cost">Cost:</label>
            <input name="totalCost"
                   type="text"
                   id="cost"
                   placeholder="Enter shipping cost"
                   class="form-control">
        </div>
        <br>
        <br>
        <span class="border">Currency:</span>
        <div class="form-group">
            <select name="currency">
                <option th:each="currencyOpt : ${T(kar.rig.digitalforwarderdemo.domain.enumeration.CurrencyType).values()}"
                        th:value="${currencyOpt}"
                        th:text="${currencyOpt}"
                        class="form-control">
                </option>
            </select>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-default">Submit shipping</button>
    </form>
</div>
</body>
</html>