<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Register</title>
</head>
<body>
<div class="container">
    <h2>Sign up to account!</h2>
    <form class="form-inline"
          action="#"
          th:action="@{/register}"
          th:object="${user}"
          method="post">
        <div class="form-group">
        <label for="name">Full Name:</label>
        <input name="fullName"
               type="text"
               id="name"
               placeholder="Enter fullname"
               class="form-control">
        </div>
        <div class="form-group">
        <label for="email">Email:</label>
        <input name="email"
               type="email"
               id="email"
               placeholder="Enter email"
               class="form-control">
        </div>
        <div class="form-group">
        <label for="password">Password:</label>
        <input name="password"
               type="password"
               id="password"
               placeholder="Enter password"
               class="form-control">
        </div>
        <br>
        <br>
        <div class="form-group">
        <select name="role" class="form-select">
            <option th:each="roleOpt : ${T(kar.rig.digitalforwarderdemo.domain.enumeration.UserRole).values()}"
                    th:value="${roleOpt}"
                    th:text="${roleOpt}">
            </option>
        </select>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-default">Sign up</button>
    </form>
</div>
</body>
</html>