<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Kar-Rig-Trans</title>
</head>
<body>
<h2>Shippings list!</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">SenderCountry</th>
        <th scope="col">SenderAddress</th>
        <th scope="col">RecipientCountry</th>
        <th scope="col">RecipientAddress</th>
        <th scope="col">Insurance</th>
        <th scope="col">Calculate</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shipping : ${shippings}">
        <td th:text="${shipping.id}"></td>
        <td th:text="${shipping.senderCountry}"></td>
        <td th:text="${shipping.senderAddress}"></td>
        <td th:text="${shipping.recipientCountry}"></td>
        <td th:text="${shipping.recipientAddress}"></td>
        <td th:text="${shipping.insurance}"></td>
        <td><a aria-disabled="true" th:href="@{/api/shipping/calculate/{id}(id=${shipping.id})}">Calculate</a></td>
        <td th:text="${shipping.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>